//$fi-path: "fonts/foundation-icon-fonts" !default;

 //d
 $primary-color: #287c3b;//#75D97B;//#61C67F;//#61C66A;
 $secondary-color: #25A7DC; //#01F;//red;//#7A00FF;//red;//#C0DEED;// #BDE6FB;
 $residential-color:#287c3b;
 $commercial-color:#0871e7;

 $alert-color: #f04124;
 $success-color: #43AC6A;
 $warning-color: #f08a24;
 $info-color: #a0d3e8;

 //$form-label-font-color: $primary-color;// scale-color(#000, $lightness: 30%);

 

 $footer-color: scale-color($primary-color,$lightness: 13%);
 
 $light-font:white;
 $dark-font: #6F6F6F;



 //Social Media Colors

 $facebook-color:#3b5998;
 $twitter-color:#00aced;
 $linkedin-color: #007bb6;


// We use these to control various global styles
$body-bg: white;//rgb(255, 252, 223);
$body-font-color: $dark-font;//greyish
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

// We use these to control header font styles
$header-font-family: $body-font-family;
$header-font-weight: normal;
$header-font-style: normal;
$header-font-color: #4E4E4E;// $dark-font;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;


// We use these to control inset shadow shiny edges and depressions.
$shiny-edge-size: 0 1px 0;
$shiny-edge-color: rgba(#fff, .5);
$shiny-edge-active-color: rgba(#000, .2);

//$primary-color: #61C66A; //green 
$primary-light: scale-color($primary-color,$lightness: 13%);//opacity at 13%
$primary-dark: scale-color($primary-color,$lightness: -13%);//opacity at 13% darker

//$secondary-color: rgba(67, 255, 67, 0.06);//very light green
$grey-hover: rgb(223, 223, 223);

//Header colors
$topbar-bg: $primary-color; //Color for menu bar
$topbar-link-bg-hover: $primary-light;//on hover menu
$topbar-dropdown-bg: $primary-dark;//dropdown colors

$topbar-link-bg-active: $primary-dark;//Color for active nav li
$topbar-link-bg-active-hover: scale-color($primary-dark, $lightness: -14%);
//$header-name-size:30px;//icon size 40


//$topbar-title-weight: bold;
//$topbar-title-font-size: 15px;
$topbar-link-font-size:  15px;
//$topbar-link-font-size: rem-calc(13);
$topbar-menu-link-color-toggled: scale-color($light-font, $lightness: -20%);;
// $topbar-menu-icon-color-toggled: #888;



//$topbar-breakpoint: lower-bound(9999px);


// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: rem-calc(13);


$max-row-width: 1000px;
$medium-row-width: 700px;


// Transitions and breakpoint styles
$topbar-breakpoint: 754px; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";


//borderline color

//$border-line-color: 


// We use these to control the background and border styles
// $panel-bg: scale-color($primary-color, $lightness: -13%);
// $panel-border-style: solid;
// $panel-border-size: 1px;

// // We use this % to control how much we darken things on hover
// $panel-function-factor: -11%;
// $panel-border-color: scale-color($panel-bg, $lightness: $panel-function-factor);

// // We use these to set default inner padding and bottom margin
// $panel-margin-bottom: rem-calc(20);
// $panel-padding: rem-calc(20);

// // We use these to set default font colors
// $panel-font-color: #333;//$dark-font; //#333;
// $panel-font-color-alt: #fff; //$dark-font;

// $panel-header-adjust: true;
// $callout-panel-link-color: $primary-color;

$hr-color: #9B9B9B;//#dddddd;

@mixin background-gradient($direction,$first-color,$second-color,$third-color:"") {
	@if ($third-color != ""){
		@include background-image(linear-gradient($direction, $first-color,$second-color,$third-color ));
		//@include background-image(linear-gradient(left, white, $hr-color,white));
		background: -ms-linear-gradient($direction, $first-color,$second-color,#{$third-color});

	} @else {
		@include background-image(linear-gradient($direction, $first-color,$second-color));
		background: -ms-linear-gradient($direction, $first-color,$second-color);
	}
}


$namespace : false;//testing this for the abide new roman problem



