


/****************CLEARING LIGHTBOX**********************************/
ul.clearing-thumbs{//Fixed full screen gallery pictures
	li {
		clear: none !important;
		margin-right: 0;
	}

}
/*************END CLEARING LIGHTBOX**********************************/

/************ORBIT SLIDE SHOW****************************************/

.sidelinks-slider{
		//margin-top:5px;
		padding:5px 0px 0px 5px;
		max-width:150px;
		color:rgb(75, 75, 75);
		border-radius:4px;
		//margin-top:80px;
		opacity:.8;
		//box-shadow:0 0 10px;
		// background:$secondary-color;
		//color:$light-font;

		dt{
			text-decoration:underline;
		}

	}


	.slide_show{
		h3{
			text-align:center;
		}
		ul.slider_img {

			li{

				img{

				}
			}
		}
	}

	.headline-slideshow{
	// background:green;
	//border:1px solid $primary-light;
}

/******************END ORBIT SLIDE SHOW****************************/
.content-left{



	/******************MAGELLAN************************************/
[data-magellan-expedition-clone] { visibility:hidden; }//Hides clone until patch comes out
ul.side-links {//For the sticky side-nav
	//width: 240px;
	// @extend ul.no-underline;
	margin-left:-18px;
	top: 45px !important;
	//z-index:0;
	//padding-top:10px;
	//background: $body-bg;
	background: rgba(84, 80, 43, 0);
	//position:absolute;
	//min-width: 100px !important;



	@media  #{$small-only} {
		position: static !important;
   		//width: 100%;
   		//display:none;
   	}
   }
}
.sticky-side-links {
	position:fixed;
	top:0;
	margin-top:50px;
  // z-index:99999;
}

dl.sub-nav{//For quick anchor scrolling
	  //margin-top: 45px;

	  top: 45px !important;
	  padding-top:10px;
	  //max-height: 35px;
	  //box-shadow: 0 0 3px;
	  background: $body-bg;
	  //width:816px;
	  //padding-bottom
	// z-index:0;
}
/******************END MAGELLAN************************************/



/*******************LABELS*****************************************/




/*********************END LABELS***********************************/


/*********************TOP-MENU**************************************/

.header-menu{


	//background: $primary-color;
	border-top: 1px solid $light-font;
	border-bottom: 1px solid $light-font;
	//box-shadow: 0px 0px 5px;
	margin-bottom:1em;
	// height:100px;

	nav{

		li.divider{
			border-right: solid 1px $light-font !important;
		}
		ul.dropdown{
			li.divider{
				border-top: solid 1px $light-font !important;
			}

			.active{
				text-decoration:underline;
			}
		}


	}//end nav

}



/************************EMD TOP-MENU********************************/