


a:hover {
	text-decoration:underline;
	&.close-reveal-modal{text-decoration: none;}
	&.clearing-close{text-decoration: none;}
}


.underline{text-decoration:underline;}
.italic{font-style:italic;}
.indent{padding-left:35px;}

.line-border{border-right: 1px solid white;}
.line-border-special{@media #{$large-up} {border-right: 1px solid white;} }



.hr-bottom{
	border-bottom: 1px solid $hr-color;
	margin-bottom: .8em;
	padding: .4em;
}


.has-icons{
	i{
       color: $secondary-color;//$primary-color;
       font-size:42px;
    }
}


@mixin social-media-color($color){
	color:$color;
	&:hover{color:scale-color($color,$lightness: 13%);}
}
.fi-social-facebook{@include social-media-color($facebook-color);}
.fi-social-twitter{@include social-media-color($twitter-color);}
.fi-social-linkedin{@include social-media-color($linkedin-color);}


.link-color a{color: $secondary-color;}

.highlight{ color: $secondary-color;}

.bold{font-weight:bold;}



.bill-result-color{
	margin-left:10px;
	color:$secondary-color;
	font-size:1.3em;
}

.initial{list-style: initial !important;}





