

footer{
	margin-top:3em;
	background:$footer-color;


	.footer-heading{
		background:$secondary-color;
		height:3em;
	}


	.footer-content{
		text-align:center;

		a{

			color: $header-font-color;

		}

		.certifications{

			float:left;
			img{
				padding: 3px;
				height:60px;
			}
		}

		margin-top:2em;


		.copyright{
			text-align:center;
		}

	}

}