
.footer{
	text-align:center;
	ul{
		// list-style-type: none;
		li{
			a{
				color: #9f9f9f;

			}
		}

	}

	margin-top:2em;
	// background: $primary-color;
	// box-shadow: 0px 0px 5px;

	.copyright{
		text-align:center;
	}
}
