

footer{
	margin-top:3em;
	background:$footer-color;
	//text-align:center;
	*{
		color: $light-font;
	}
	


	.footer-heading{
		background:$primary-color;
		text-align:center;
		//height:4em;


	}


	.certifications{

		float:left;
		img{
			padding: 3px;
			height:80px;
		}
	}
	ul{
		text-align:center;
	}

	.footer-content{

		




		margin-top:2em;


		.copyright{
			
			text-align:center;
		
		}



	}

	.footer-bottom{
		//padding:1em;
		background:#4A7E55;//$primary-dark;
	}

}
	h5.copyright{

				color: darkgray;
				padding:.7em;
			}