

@charset "UTF-8";

@import "compass"; 

@import "../bower_components/foundation/scss/foundation/settings";
@import "../bower_components/foundation-icon-fonts/foundation-icons";
//@import "settings";
@import "constants";


//@import "stackicons-social-minimal";


//@import "foundation-icons";
//@import "font-awesome.scss";



//@import "foundation";

// Or selectively include components
@import
"foundation/components/accordion",
  //"foundation/components/alert-boxes",
  "foundation/components/block-grid",
  //"foundation/components/breadcrumbs",
  //"foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  //"foundation/components/dropdown",
  //"foundation/components/dropdown-buttons",
  //"foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  //"foundation/components/inline-lists",
  //"foundation/components/joyride",
  //"foundation/components/keystrokes",
  //"foundation/components/labels",
  "foundation/components/magellan",
  "foundation/components/orbit",
  //"foundation/components/pagination",
  "foundation/components/panels",
  //"foundation/components/pricing-tables",
  //"foundation/components/progress-bars",
  "foundation/components/reveal",
  //"foundation/components/side-nav",
  //"foundation/components/split-buttons",
  "foundation/components/sub-nav",
  //"foundation/components/switch",
  //"foundation/components/tables",
  //"foundation/components/tabs",
  "foundation/components/thumbs",
  //"foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  //"foundation/components/offcanvas",
  "foundation/components/visibility",
  "foundation/components/range-slider";







  @import "header-menu";
  @import "footer";
  @import "fonts";

  @import "features";
  @import "pages";


// html{//Removes right space on site while in mobile
//   width: 100%;
//   height: 100%;
//   margin: 0px;
//   padding: 0px;
//   overflow-x: hidden; 
// }




.content-attr{
  @extend .link-color, .has-icons;
  img{box-shadow: 3px 3px 3px;}
  hr.header{
    border:0px;
    height:2px;
    @include background-image(linear-gradient(left, $hr-color,$panel-bg));
  }
}

@mixin content-attr-color($color){
   @extend .content-attr;
   @include background-image(linear-gradient(top,  $color, $panel-bg 80px));
  i{color:$color;}
  a{color: $color;}
  h2{color: $color;}
  .hr-bottom{border-bottom: 3px solid $color;}
  hr.header{ @include background-image(linear-gradient(left, $color,$panel-bg));}
  .panel{
    border-color: #BBB;
    h3{
      color:white;
      text-shadow: 2px 2px grey;
    }
  }
}

@mixin color-theme($color){
  @extend .content-attr;
  h3,h2{
    color:$color;
    //text-shadow: 2px 2px grey;
  }
  hr.header{color:$color;}
  //h2{margin-bottom:0;}
  i{color:$color;}
  a{color: $color;}
  img{box-shadow: 3px 3px 3px;}
  hr.header{
    //color:$color;
    margin-top: -10px;
    border:0px;
    height:2px;
    @include background-image(linear-gradient(left, $color,$body-bg));
  }
}

.res{ @include color-theme($residential-color); }
.comm{@include color-theme($commercial-color); }







.page-banner{
  box-shadow: 3px 3px 3px;
  margin-bottom: 5px !important;
 // img{min-width: 450px;}
 & img{width:100%;}

  width:100%;
  overflow:hidden;

  h1{
    padding-left: .5em;
    text-rendering: initial;
    font-size: 3em;
    padding-right: 1em;
    margin-top: 0px;
    position: absolute;
    top: 0;
    text-shadow: 2px 2px grey;
    color:white;
    background:rgba($primary-color, .7);//$secondary-color;
    border-bottom-right-radius: 2em;
    font-style: italic; 
    @media #{$medium-only} {font-size: 2.7em;}
    @media #{$small-only} {
      text-rendering: initial;
      font-size: 2em;
    }
  }
}





hr.divide{
  margin-top:30px;
  margin-bottom: 30px;
  border: 0;
  height: 1px;
  @include background-image(linear-gradient(left, white, $hr-color,white));
}



a.anchor{
  display: block;
  position: relative;
  top: -60px; 
  visibility: hidden;
}

.type-heading{margin-bottom:10px;}

.row-space{margin-top:30px !important;}

.panel-space{
  .panel{margin-bottom:50px;}
}



