

@charset "UTF-8";

@import "compass"; 

@import "../bower_components/foundation/scss/foundation/settings";
//@import "settings";
@import "constants";


//@import "stackicons-social-minimal";


@import "foundation-icons";
//@import "font-awesome.scss";



//@import "foundation";

// Or selectively include components
@import
"foundation/components/accordion",
  //"foundation/components/alert-boxes",
  "foundation/components/block-grid",
  //"foundation/components/breadcrumbs",
  //"foundation/components/button-groups",
  //"foundation/components/buttons",
  "foundation/components/clearing",
  //"foundation/components/dropdown",
  //"foundation/components/dropdown-buttons",
  //"foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  //"foundation/components/inline-lists",
  //"foundation/components/joyride",
  //"foundation/components/keystrokes",
  //"foundation/components/labels",
  "foundation/components/magellan",
  "foundation/components/orbit",
  //"foundation/components/pagination",
  "foundation/components/panels",
  //"foundation/components/pricing-tables",
  //"foundation/components/progress-bars",
  "foundation/components/reveal",
  //"foundation/components/side-nav",
  //"foundation/components/split-buttons",
  "foundation/components/sub-nav",
  //"foundation/components/switch",
  //"foundation/components/tables",
  //"foundation/components/tabs",
  "foundation/components/thumbs",
  //"foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  //"foundation/components/offcanvas",
  "foundation/components/visibility";







  @import "header-menu";
  @import "footer";
  @import "fonts";

  @import "features";
  @import "pages";


  html{//Removes right space on site while in mobile
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }




  .line-border{
  //border-color:white;
  // border-left: 1px solid $body-font-color;
  // @media #{$medium-up} {
   border-right: 1px solid white;

  //  }  
}



.hr-bottom{
  border-bottom: 1px solid $hr-color;
      // margin: 1.25rem 0 1.1875rem;

      // margin-bottom:1em;
      margin-bottom: .8em;
      padding: .4em;



    }


    .has-icons{

      i{
        color: $secondary-color;//$primary-color;
        font-size:42px;


      }
    }




    .fi-social-facebook,.fa-facebook-square{
      color:$facebook-color;
      &:hover{
        color:scale-color($facebook-color,$lightness: 13%);;
      }


    }

    .fi-social-twitter, .fa-twitter,.fa-twitter-square{
      color:$twitter-color;
      &:hover{
        color:scale-color($twitter-color,$lightness: 13%);;
      }

    }
    .fi-social-linkedin,.fa-linkedin-square{
      color:$linkedin-color;
      &:hover{
        color:scale-color($linkedin-color,$lightness: 13%);;
      }

    }


    .link-color{
      a{
        color: $secondary-color;
      }
    }

    .highlight{ 
      color: $secondary-color;

    }


    .content-attr{
      @extend .link-color, .has-icons;

      img{
        box-shadow:0 0 10px; 
      }

      h2{
  //text-shadow: 2px 2px grey;
}
.hr-bottom{

  // @include background-image(linear-gradient(left, white, $secondary-color));

  
  // border-bottom: 3px solid $secondary-color;


}

hr.header{
  border:0px;
  height:2px;
  //background:$hr-color;
  @include background-image(linear-gradient(left, $hr-color,$panel-bg));

}
}



.underline{
  text-decoration:underline;
}

.italic{
  font-style:italic;
}

.indent{
  padding-left:35px;
}

.comm{
  @extend .content-attr;
  i{
    color:$commercial-color;

  }
  a{
    color: $commercial-color;
  }

h2{
    color: $commercial-color;
  }
  .panel{
    h3{
      color:white;
      text-shadow: 2px 2px grey;
    }


    //background:lighten( $commercial-color, 64% );

    //@include background-image(linear-gradient(bottom, white 75%, $commercial-color));
  
   // @media #{$small-up} {
    @include background-image(linear-gradient(right, $panel-bg, $commercial-color));
    background-repeat:no-repeat;
background-size:100% 70px;

    //@include background-image(linear-gradient(top,  $commercial-color, $panel-bg 80px));
  // }

  //   @media #{$large-up} {
  //   @include background-image(linear-gradient(bottom, white 75%, $commercial-color));
  // }
   
    border-color: #BBB;
    //background:$commercial-color;
     //background:#E0FFD4;//#D4FFDE;
   //background:scale-color($commercial-color, $lightness: -10%);
 }
 .hr-bottom{
  border-bottom: 3px solid $commercial-color;
  //line-height:0;


}
hr.header{
  border:0px;
  height:2px;
  //background: scale-color($commercial-color,$lightness: 40%);//$commercial-color;
  @include background-image(linear-gradient(left, $commercial-color,$panel-bg));

}

}

.res{
  @extend .content-attr;

  .hr-bottom{

    border-bottom: 1px solid ;
    //@include background-image(linear-gradient(left, white, $residential-color));

  }
  //$res-temp:#D4FFDE



  i{
    color:$residential-color;
  }
  a{
    color: $residential-color;
  }

  h2{
    color: $residential-color;
  }
  .panel{
     h3{
      color:white;
      text-shadow: 2px 2px grey;
    }

    //background:lighten( $residential-color, 64% );

    //@include background-image(linear-gradient(bottom, white 75%, $residential-color));

     @include background-image(linear-gradient(top,  $residential-color, $panel-bg 80px));
  
  //  @media #{$small-up} {
  //   @include background-image(linear-gradient(bottom, white 87%, $residential-color));
  // }

  //   @media #{$large-up} {
  //   @include background-image(linear-gradient(bottom, white 75%, $residential-color));
  // }
   
    border-color: #BBB;
    //background:$residential-color;
     //background:#E0FFD4;//#D4FFDE;
   //background:scale-color($residential-color, $lightness: -10%);
 }
 .hr-bottom{
  border-bottom: 3px solid $residential-color;
  //line-height:0;


}

hr.header{
  border:0px;
  height:2px;

  //background: scale-color($residential-color,$lightness:20%);
  //background:$residential-color;
  @include background-image(linear-gradient(left, $residential-color,$panel-bg));

}

// hr.divide{
//  @include background-image(linear-gradient(left, white, $residential-color,white));
//   //back
// }

}

.page-banner{
  h1{
    text-shadow: 2px 2px grey;
    color:white;
    font-style: italic;
  }

  box-shadow:0 0 5px;


  background-image: url("https://assets.nerdwallet.com/blog/finance/files/2012/08/solar-panels.png");
  //background-repeat: round;
  background-size:cover;
  width:100%;
  height:150px;
  overflow:hidden;

}
.page-banner-electric{
  @extend .page-banner;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/8/8d/Solar_panels_in_Ogiinuur.jpg");

}
.page-banner-hotwater{
  @extend .page-banner;
  background-image: url("https://assets.nerdwallet.com/blog/finance/files/2012/08/solar-panels.png");

}






hr.divide{
  margin-top:30px;
  margin-bottom: 30px;
  border: 0;
  height: 2px;
  @include background-image(linear-gradient(left, white, $hr-color,white));
  //@mixin linear-gradient(color-stops(white, black), left);

  //background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  //background-image: linear-gradient(to-left, black,rgba(0,0,0,0.75),black);
}



a.anchor{display: block;
 position: relative;
 top: -30px; 
 visibility: hidden;
}

.type-heading{
  //margin-top:60px;
  margin-bottom:10px;
}

.row_space{
  margin-top:60px;
}