

@charset "UTF-8";

@import "compass"; 

@import "../bower_components/foundation/scss/foundation/settings";
//@import "settings";
@import "constants";


//@import "stackicons-social-minimal";


@import "foundation-icons";
//@import "font-awesome.scss";



//@import "foundation";

// Or selectively include components
@import
"foundation/components/accordion",
  //"foundation/components/alert-boxes",
  "foundation/components/block-grid",
  //"foundation/components/breadcrumbs",
  //"foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  //"foundation/components/dropdown",
  //"foundation/components/dropdown-buttons",
  //"foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  //"foundation/components/inline-lists",
  //"foundation/components/joyride",
  //"foundation/components/keystrokes",
  //"foundation/components/labels",
  "foundation/components/magellan",
  "foundation/components/orbit",
  //"foundation/components/pagination",
  "foundation/components/panels",
  //"foundation/components/pricing-tables",
  //"foundation/components/progress-bars",
  "foundation/components/reveal",
  //"foundation/components/side-nav",
  //"foundation/components/split-buttons",
  "foundation/components/sub-nav",
  //"foundation/components/switch",
  //"foundation/components/tables",
  //"foundation/components/tabs",
  "foundation/components/thumbs",
  //"foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  //"foundation/components/offcanvas",
  "foundation/components/visibility";







  @import "header-menu";
  @import "footer";
  @import "fonts";

  @import "features";
  @import "pages";


html{//Removes right space on site while in mobile
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}




.content-attr{
  @extend .link-color, .has-icons;

  img{
    box-shadow: 3px 3px 3px;
  }
  hr.header{
    border:0px;
    height:2px;
    @include background-image(linear-gradient(left, $hr-color,$panel-bg));
  }
}

@mixin content-attr-color($color){
   @extend .content-attr;
  i{
    color:$color;
  }
  a{
    color: $color;
  }

  h2{
    color: $color;
  }
  .panel{
    h3{
      color:white;
      text-shadow: 2px 2px grey;
    }

    @include background-image(linear-gradient(top,  $color, $panel-bg 80px));
    border-color: #BBB;
  }
  .hr-bottom{
    border-bottom: 3px solid $color;
  }
  hr.header{
    @include background-image(linear-gradient(left, $color,$panel-bg));
  }

}

.comm{
  @include content-attr-color($commercial-color);
}

.res{
    @include content-attr-color($residential-color);
}


.page-banner{


  box-shadow: 3px 3px 3px;
  margin-bottom: 5px !important;

  img{
    min-width: 450px;
  }

  width:100%;
  overflow:hidden;

  h1{
    @media #{$medium-up} {
       font-size: 3em;
    }
     @media #{$small-only} {
       font-size: 1.7em;
    }
    
    margin-top: 0px;
    position: absolute;
    top: 0;
    text-shadow: 2px 2px grey;
    color:white;
    background:rgba($primary-color, .7);//$secondary-color;
    border-bottom-right-radius: 2em;
    padding-right: 1em;
// -webkit-transform: skew(-20deg);
// background:$secondary-color;
// padding-top: 10px;
// padding-bottom: 10px;
    font-style: italic;

    // text-decoration:underline;
  }
}





hr.divide{
  margin-top:30px;
  margin-bottom: 30px;
  border: 0;
  height: 1px;
  @include background-image(linear-gradient(left, white, $hr-color,white));
}



a.anchor{
  display: block;
  position: relative;
  top: -60px; 
  visibility: hidden;
}

.type-heading{
  //margin-top:60px;
  margin-bottom:10px;
}

.row_space{
  margin-top:60px;
}

.panel-space{
  .panel{
    margin-bottom:50px;
  }
}



