<IfModule mod_expires.c>
AHHHHHHH
 
# Enable expirations
ExpiresActive On
 
# Default directive
ExpiresDefault "access plus 1 month"
 
# Images
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
 
 
# CSS
ExpiresByType text/css "access 1 month”
 
# Javascript
ExpiresByType application/javascript "access plus 1 year"
 
</IfModule>