<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  {% if page.title != 'Home'%}<title>{{ page.title }} &ndash; Active Solar</title>{% endif %}
  {% if page.title == 'Home'%}<title>Active Solar &ndash; Home</title>{% endif %}



  <title>Active Solar</title>
  <!--[if lte IE 8]>
    <script src="js/ie8-alert.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/app.css">






    <!-- <link rel="stylesheet" href="foundation/foundation-icons/foundation-icons.css"c> -->
    <link rel="shortcut icon" href="img/favicon/Active-Solar-Favicon.ico">
    <!-- <link rel="stylesheet" href="css/stackicons-social-minimal.css"> -->
    <script src="foundation/js/vendor/modernizr.js"></script>



    {% include head-fonts.html %}

    {% include head-analytics.html %}

  </head>