<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  {% if page.title != 'Home'%}<title>{{ page.title }} &ndash; Active Solar</title>{% endif %}
  {% if page.title == 'Home'%}<title>Active Solar &ndash; Home</title>{% endif %}

  
  

    <link rel="stylesheet" href="source/css/app.css">
    <link rel="shortcut icon" href="source/img/favicon/Active-Solar-Favicon.ico">
    <!-- <link rel="stylesheet" href="css/stackicons-social-minimal.css"> -->

    <script src="source/js/modernizr.min.js"></script>
     </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWuOy0ekHKSV3bidPuLvdhfNThMMU-rL0">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    




    {% include head-fonts.html %}

    {% include head-analytics.html %}

  </head>