
<div>

	<ul class="side-links no-bullet show-for-medium-up" data-magellan-expedition="fixed" >

		<li><a data-reveal-id="quote"  href="#"><i class="fi-clipboard-pencil"></i>&nbsp;Get a Quote</a></li>

		<!-- <li><a href="solar-electric.html"><i class="fi-lightbulb"></i>&nbsp;Solar Electric</a></li>
		<li><a href="solar-hotwater.html"><i class="fi-power"></i>&nbsp;Solar Hot Water</a></li> -->
		<li><a href="residential-services.html"><i class="fi-home"></i>&nbsp;Residential</a></li>
		<li><a href="commercial-services.html"><i class="fi-torso-business"></i>&nbsp;Commercial</a></li>
		<!-- <li><a data-reveal-id="contact"><i class="fi-telephone"></i>&nbsp;Contact Us</a></li> -->
		
		<li><a href="contact.html"><i class="fi-telephone"></i>&nbsp;Contact Us</a></li>
		

	</ul>
</div>
 

<div id="quote" class="reveal-modal" data-reveal>
	
	{% include site-quote-form.html %}

	<a class="close-reveal-modal">&#215;</a>
</div>


<div id="contact-success" class="reveal-modal" data-reveal>

	<h2>Status</h2>
	<p id="message"></p>


	<a class="close-reveal-modal">&#215;</a>
	
</div>

