
<div>
	<!-- <ul class="side-links"> -->
<ul class="side-links" data-magellan-expedition="fixed" >
<!-- <ul class="side-links sticky-test"  > -->
	<li ><a data-reveal-id="quote"  href="#"><i class="fi-clipboard-pencil"></i>&nbsp;Get a Quote</a></li>
	<li ><a data-reveal-id="electric"  href="#"><i class="fi-checkbox"></i>&nbsp;Solar Electric</a></li>
	<li ><a data-reveal-id="hot-water"  href="#"><i class="fi-comment-quotes"></i>&nbsp;Solar Hot Water</a></li>
	<li ><a data-reveal-id="contact"  href="#"><i class="fi-telephone"></i>&nbsp;Contact Us</a></li>
	<li class="header-slider" >
		<ul class="headline-slideshow" data-orbit 
				data-options="animation:fade;
				timer_speed: 5000,
				animation_speed:300;
				navigation_arrows:false;
				bullets:false;
				timer_show_progress_bar: false;
				pause_on_hover: false;
				slide_number: false;">

				<li data-orbit-slide="headline-1">
					<div>
						<dl>
							<dt>Free Quote</dt>
							<dd><a href="#">Click Here to find out more</a></dd>
						</dl>
					</div>
				</li>
				<li data-orbit-slide="headline-2">
					<div>
						<dl>
							<dt>Test thing</dt>
							<dd><a href="#">Click Here to find out more</a></dd>
						</dl>
					</div>
				</li>
				<li data-orbit-slide="headline-3">
					<div>
						
						<dl>
							<dt>News &amp; Updates</dt>
							<dd><a href="#">Click Here to find out more</a></dd>
						</dl>
					</div>
				</li>
			</ul>
		

	</li>
</ul>
</div>

<div class="header-slider" >
				
		</div>

<div id="quote" class="reveal-modal" data-reveal>

	<form data-abide>
		<div class="name-field">
			<label>Your name <small>required</small>
				<input type="text" required pattern="[a-zA-Z]+">
			</label>
			<small class="error">Name is required and must be a string.</small>
		</div>
		<div class="email-field">
			<label>Email <small>required</small>
				<input type="email" required>
			</label>
			<small class="error">An email address is required.</small>
		</div>
		<button type="submit">Submit</button>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>


<div id="electric" class="reveal-modal" data-reveal>

	<h2>Solar Electric</h2>

	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="hot-water" class="reveal-modal" data-reveal>

	<h2>Solar Hot Water</h2>



	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="contact" class="reveal-modal" data-reveal>

	<h2> Contact Us</h2>

		<dl>
			<dt>Phone</dt>
			<dd>555-555-5555</dd>
		</dl>

	<a class="close-reveal-modal">&#215;</a>
	
</div>