<ul class="side-nav">
	<li><a href="#">Request a quote</a></li>
	<li><a href="#">Link 2</a></li>
	<li><a href="#">Link 3</a></li>
	<li><a href="#">Link 4</a></li>
</ul>
<!-- <h3 data-magellan-destination="js">Quick Links</h3>
<div data-magellan-expedition="fixed">
  <ul class="sub-nav">
    <li><a href="#">Get a Quote</a></li>
    <li><a href="#">Arrival 2</a></li>
  </ul>
</div> -->

<!-- <ul class="magellan tabs vertical" data-magellan-expedition="fixed">

  <li data-magellan-arrival="buttons"><a href="#buttons">Buttons</a></li>
</ul> -->

<!-- <div data-magellan-expedition="fixed">
  <dl class="sub-nav vertical">
    <dd data-magellan-arrival="build"><a href="#build">Build with HTML</a></dd>
    <dd data-magellan-arrival="js"><a href="#js">Arrival 2</a></dd>
  </dl>
</div> -->
