<div class="sticky1">
  

<div class="off-canvas-wrap " data-offcanvas>
  <div class="inner-wrap">
    <div class="fix1ed">
      
    
    <nav class="tab-bar">

      <section class="left tab-bar-section">
        <h1 class="title">Active Solar</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>
  </div>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Users</label></li>
        <li><a href="#">Hari Seldon</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>

    <section class="main-section">