

	<div class="row banner-small">
		<div class="">
			<div class="small-6 columns banner-heading">
				{% for node in site.pages %}
				{% if page.url == node.url %}	
				{% if page.url == '/index.html' %}
				<h1>Active Solar</h1> 
				{% else %}
				<h1>{{ node.title }}</h1>
				{% endif %}
				{% endif %}
				{% endfor %}
				<h4 class="slogan">Own the future now</h4>
			</div>
			<div class="small-6 columns banner-contact">
				<ul>
					<li><i class="fi-telephone"></i>&nbsp;Phone:&nbsp;555-555-5555</li><li><i class="fi-mail"></i>&nbsp;E-mail:&nbsp;ActiveSolar@fake.com</li>
					<li>Mail:&nbsp;222 Fake Street</li>
					<li>
						<table>
							<tr>
								<td><a href="#"><i class="fi-social-facebook"></a></i></td>
								<td><a href="#"><i class="fi-social-twitter"></a></i></td>
								<td><a href="#"><i class="fi-social-linkedin"></a></i></td>
							</tr>
						</table>
					</li>
				</ul>


			</div>
		</div>


	</div>

