<div class="logo-background">
<div class="row">
	<div class="small-12 columns">
		<a href="index.html"><img class="logo_pic" src="img/logo/Logo.png" alt="logo"></a>
	</div>
</div>
</div>
<div class="sticky contain-to-grid header-menu">
	<nav class="top-bar" data-topbar>

		<ul class="title-area">
			<li class="name"><h1><a href="index.html">Home</a></h1></li>

			<!-- <li class="has-form">
				<div class="row collapse">
					<div class="large-8 small-9 columns">
						<input type="text" placeholder="Find Stuff">
					</div>
					<div class="large-4 small-3 columns">
						<a href="#" class="alert button expand">Search</a>
					</div>
				</div>
			</li> -->


			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>	
		</ul>

		<section class = "top-bar-section">
			{% include top-nav.html %}
			
		</section>

	</nav>

</div>