
{% assign imgSrc = 'source/img/logo/' %}
<div class="logo-background">
	<div class="row">
		<div class=" medium-7 small-6 columns">
			<a href="index.html">
				<img class="logo_pic show-for-medium-up" src="{{ imgSrc }}Active_Solar_Installations_Logo.png" alt="logo">
				<img class="logo_pic show-for-small-only" src="{{ imgSrc }}Active_Solar_Installations_Logo_small.png" alt="logo">

			</a>

		</div>
		
		<div class=" medium-5 small-6 columns ">
			<div class="row right text-right no-bullet ">
				<div class="large-12 columns">
					<a data-reveal-id="quote" class="button get-quote-button" href="#">Get a Free Quote</a>
				</div>
				<div class="phone-header large-12 columns">
					{{ site.data.contact.phone }}
				</div>
				<div class="social-media social-media-header large-12 columns">

					<a rel="nofollow" target="_blank" href="{{ site.data.social.fb }}"><i class="fi-social-facebook"></i></a>
					<!-- <a rel="nofollow" target="_blank" href="{{ site.data.social.twt }}"><i class="fi-social-twitter"></i></a> -->
					<a rel="nofollow" target="_blank" href="{{ site.data.social.li }}"><i class="fi-social-linkedin"></i></a>

				</div>
			</div>

		</div>
	</div>
</div>
