<!-- <footer class="site-info" role="contentinfo">
  <p>Here is a footer.</p>
</footer> -->
<footer class="footer-content">


	<div class="footer-heading">
		<div class="row"></div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			

			<ul class=" text-center small-block-grid-2 large-block-grid-4 footer-items">
				<li class="line-border">
					<ul class="no-bullet" >
						<li><h4>About</h4></li>
						<li><a href="about-us.html">About Us</a></li>
						<!-- <li><a href="about_solar.html">About Solar</a></li> -->
						<li><a href="contact.html">Contact</a></li>
						<li> <br></li>
					</ul>
				</li>

				<li class="line-border-special">
					<ul class="no-bullet" >
						<li><h4>For Home</h4></li>
						<li><a href="residential-services.html#solar_electric">Solar Electric</a></li>
						<li><a href="residential-services.html#solar_hotwater">Solar Hot Water</a></li>
						<li><a href="financing.html#residential">Financing</a></li>

					</ul>
				</li>

				<li  class="line-border">
					<ul class="no-bullet">
						<li><h4>For Business</h4></li>
						<li><a href="commercial-services.html#solar_electric">Solar Electric</a></li>
						<li><a href="commercial-services.html#solar_hotwater">Solar Hot Water</a></li>
						<li><a href="financing.html#commercial">Financing</a></li>

					</ul>
				</li>

				<li class="footer-cert">
					<!-- <div class="row"> -->
					<div class="small-centered columns">
						<!-- <a rel="nofollow" target="_blank" href="{{ site.data.cert.nab }}"> -->
							<img src="source/img/certifications/NABCEP_LOGO.png" alt="nabcep">
						<!-- </a> -->

					</div>

					<div class="medium-6  columns ">
						<!-- <a rel="nofollow" target="_blank" href="{{ site.data.cert.bpi }}"> -->
							<img src="source/img/certifications/BPI-Certification.png" alt="BPI">
						<!-- </a> -->
					</div>
					<div class="medium-6  columns ">
						<!-- <a rel="nofollow" target="_blank" href="{{ site.data.cert.poly }}"> -->
						<img src="source/img/certifications/POLYSUN_CERT.png" alt="polysun">


						<!-- </a> -->
					</div>
				</li>
			</ul>
		</div>
	</div>



	<div class=" row footer-bottom" >
		<div class=" large-12 columns ">
			<p class="copyright text-center">Copyright &copy; 2014</p>
		</div>
	</div>

</footer>





