
<div class="banner">
	<div class="row">
		<div class="small-6 columns">
			<div class="banner-heading">
				{% for node in site.pages %}
				{% if page.url == node.url %}	
				{% if page.url == '/index.html' %}
				<h1>Active Solar</h1> 
				{% else %}
				<h1>{{ node.title }}</h1>
				{% endif %}
				{% endif %}
				{% endfor %}
				<h4 class="slogan">Own the future now</h4>
			</div>
			<div class="banner-contact">
				<ul>
					<li><i class="fi-telephone"></i>&nbsp;Phone:&nbsp;555-555-5555</li><li><i class="fi-mail"></i>&nbsp;E-mail:&nbsp;ActiveSolar@fake.com</li>
					<li>Mail:&nbsp;222 Fake Street</li>
					<li>
						<table>
							<tr>
								<td><a href="#"><i class="fi-social-facebook"></a></i></td>
								<td><a href="#"><i class="fi-social-twitter"></a></i></td>
								<td><a href="#"><i class="fi-social-linkedin"></a></i></td>
							</tr>
						</table>
					</li>
				</ul>

			</div>
		</div>

		<div class="small-6 columns banner-slider">

			<ul class="headline-slideshow" data-orbit 
			data-options="animation:fade;
			timer_speed: 5000,
			animation_speed:300;
			navigation_arrows:false;
			bullets:false;
			timer_show_progress_bar: false;
			pause_on_hover: false;">

			<li data-orbit-slide="headline-1">
				<div>
					<h2>Free Quote</h2>
					<h3><a href="#">Click Here to find out more</a></h3>
				</div>
			</li>
			<li data-orbit-slide="headline-2">
				<div>
					<h2>Promotions</h2>
					<ul>
						<li>Example sale</li>
						<li>Coupons</li>
						<li>SOmething</li>
					</ul>
				</div>
			</li>
			<li data-orbit-slide="headline-3">
				<div>
					<h2>News &amp; Updates</h2>
					<h3><a href="#">Model 88x54 has Arrived!</a></h3>
				</div>
			</li>
		</ul>


	</div>


</div>


</div>