<!-- <footer class="site-info" role="contentinfo">
  <p>Here is a footer.</p>
</footer> -->
	
<div id="footer" class="footer row">

	<!-- <h3>Active Solar &copy; 2014</h3> -->

	<hr>
	<div class="large-3 columns">
		<h3>About</h3>

		<p>Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content </p>
		
	</div>

	<div class="large-3 columns">
		<h3>For Home</h3>

		<p>Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content </p>

		
	</div>
	<div class="large-3 columns">
		<h3>For Business</h3>

		<p>Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content </p>
		
	</div>
	<div class="large-3 columns">
		<h3>Careers</h3>

		<p>Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content Content content </p>
		
	</div>
	<div class="large-12 columns copyright">
		<h3>Copyright &copy; 2014</h3>
	</div>
	
</div>


    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="foundation/js/foundation.min.js"></script>
    
    <script>
      $(document).foundation();
    </script>