<!-- <footer class="site-info" role="contentinfo">
  <p>Here is a footer.</p>
</footer> -->
<footer class="footer-content">


	<div class="footer-heading">
		<div class="row">

		</div>
	</div>

	<div class="row">
		<div class="footer-content large-12 columns">
			<div class="small-block-grid-2 large-block-grid-4">
				<li>
					<ul  class="line-border">
						<li><h4>About</h4></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">About Solar</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</li>

				<li>
					<ul  class="line-border">
						<li><h4>For Home</h4></li>
						<li><a href="#">Solar Hot Water</a></li>
						<li><a href="#">Photovoltaics PV</a></li>
						<li><a href="#">Financing</a></li>

					</ul>
				</li>

				<li>
					<ul  class="line-border">
						<li><h4>For Business</h4></li>
						<li><a href="#">Solar Hot Water</a></li>
						<li><a href="#">Photovoltaics PV</a></li>
						<li><a href="#">Financing</a></li>

					</ul>
				</li>

				<li>
					<div class="row">
						<!-- <ul class="large-block-grid-2"> -->
						
						<div class="small-centered columns">
							<a href="#"><img src="img/certifications/NABCEP_LOGO.png" alt="nabcep"></a>
							
						</div>
			<!-- 			<div class="small-12 columns ">
							<a href="#"><img src="img/certifications/bpi-logo-large.png" alt="BPI"></a>
						</div> -->
						<div class="small-6 columns ">
							<a href="#"><img src="img/certifications/BPI Cert.png" alt="BPI"></a>
						</div>
						<div class="small-6 columns ">
							<a href="#"><img src="img/certifications/POLYSUN_CERT.png" alt="polysun"></a>
						</div>
						
						<!-- </ul> -->
					</div>
				</li>
			</div>
		</div>
	</div>

	<div class="footer-bottom">


		<div class=" row">
		<!-- 	<div class="large-6 columns">
				<div class="certifications small-block-grid-3 large-block-grid-3">
					<img src="img/certifications/BPI-Logo.jpg" alt="BPI">
					<img src="img/certifications/nabcep-cert-seal.jpg" alt="nabcep">
					<img src="img/certifications/polysun.png" alt="polysun">
				</div>
			</div> -->


			<div class=" large-12 columns ">
				<p class="copyright">Copyright &copy; 2014</p>
			</div>

		</div>
	</div>

</footer>





