
<div class="sticky contain-to-grid header-menu">
<!-- <div class=" contain-to-grid header-menu"> -->

	<nav class="top-bar" data-topbar>

		<ul class="title-area">
			<li class="name"><h1><a href="index.html">Home</a></h1></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>	
		</ul>

		<section class = "top-bar-section">


			<ul class ="right">

				{% for node in site.pages %}
				<!-- skip home -->
				{% if "index.html" == node.path or node.url == "/residential_services.html" %} 
				{% continue %}
				{% endif %}
				<li class="divider"></li>
				{% if node.url == "/commercial_services.html" %}

				<li class="has-dropdown {% if page.url == '/residential_services.html' or page.url == '/commercial_services.html' %}active {% endif %}"><a href="#">Services</a>
					<ul class="dropdown">

						<li {% if page.url == '/residential_services.html' %} class="active"{% endif %} ><a href="residential_services.html">Residential</a></li>
						<li {% if page.url == '/commercial_services.html' %} class="active"{% endif %} ><a href="commercial_services.html">Commercial</a></li>
					</ul>
				</li>

				{% else %}
				<li {% if page.url == node.url %} class="active" {% endif %}>
					<a href="{{ node.path }}">{{ node.title }}</a>
				</li>

				{% endif %}


				{% endfor %}
				<li class="divider"></li>


			</ul>
		</section>

	</nav>

</div>