//Contain all static varible such as commoly use colors.


//Header
$primary-color:black;
$link-color: #d3d3d3;
$light-shadow:0 0 0.625em rgba(0, 0, 0, 0.9);

//Nav
// $tertiary-color:#B2D64F;
$tertiary-color:black;
$border-color: #B2d64f;

//footer
// $secondary-color:rgba(227,162,11,0.3);
// $secondary-color:rgba(11, 106, 227, 0.22); 
$secondary-color:black;
