header, .top-bar{
	background-color: $primary-color;
	box-shadow: $light-shadow;
	text-align: center;

	& a {
		color: white;
		text-decoration: none;
		&:hover, &:active, &:visited {
			color: $link-color;
		}
	}
}

.toggle-topbar, .top-bar-section, .right, .has-dropdown, .bg-color{
	background: $primary-color;
}

.expanded{
	background: $primary-color;
}

.top-bar.expanded .title-area {
background: #e56d6d;
}