<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
{% include head.html %}
<body>
	{% include site-header.html %}
	{% include top-nav.html %}
	{% include site-banner.html %}	

	<div class="row ">


		<div class="content-left medium-2  columns">
			{% include side-nav.html %}
		</div>

		<div class="medium-10 content  columns">
			
					

			{{ content }}

		</div>
	</div>

	{% include site-footer.html %}

</body>
</html>

