<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

{% include head.html %}
<body>
	{% include site-header.html %}
	{% include top-nav.html %}




	<div class="row ">


		<div class="content-left large-2 medium-3 hide-for-small-only columns">
			{% include side-nav.html %}
		</div>

		<div class="large-10 medium-9 content small-12  columns">

			{{ content }}

		</div>
	</div>

	{% include site-footer.html %}

	<script src="foundation/js/vendor/jquery.js"></script>
	<script src="foundation/js/foundation.min.js"></script>
	<script src="js/rem.min.js"></script>
	<script>
	jQuery(document).ready(function () {
 
            if (jQuery("HTML").hasClass("ie8-custom")) {
                for (var c = 1; c <= 12; c++) {
                    jQuery('.small-' + c + '[class*="medium"]').removeClass("small-" + c);
                    //Perform any other column-specific adjustments your design may require here
                }
                jQuery('.show-for-small').remove();
                jQuery('.hide-for-small').removeClass('hide-for-small');
                jQuery('.top-bar-section UL').css({ width: "inherit" });
                jQuery('.top-bar-section UL LI').css({ float: "left" });
                jQuery('.top-bar').css({ height: "inherit" });
            }
        });
		$(document).foundation();
	</script>

</body>
</html>

