<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

{% include head.html %}
<body>
	{% include site-header.html %}
	{% include top-nav.html %}




	<div class="row ">


		<div class="content-left large-2 medium-3 hide-for-small-only columns">
			{% include side-nav.html %}
		</div>

		<div class="large-10 medium-9 content small-12  columns">
			{% include page-banner.html %}

			{{ content }}

		</div>
	</div>

	{% include site-footer.html %}

	<!--[if lte IE 8]>
    <script src="source/js/ie8-alert.js"></script>
    <![endif]-->
 	
	<script src="source/js/app.min.js"></script>





</body>
</html>

