<head>
  <meta charset="utf-8">
  {% if page.title != 'Home'%}<title>{{ page.title }} &ndash; Active Solar</title>{% endif %}
  {% if page.title == 'Home'%}<title>Active Solar &ndash; Home</title>{% endif %}

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Active Solar</title>
    <link rel="stylesheet" href="foundation/css/foundation.css">
    <link rel="stylesheet" href="css/css/app.css">
    <script src="foundation/js/vendor/modernizr.js"></script>



  {% include head-fonts.html %}

  {% include head-analytics.html %}

</head>